// Color

// .bg-primary {background-color: $primary!important;}
// .bg-primary-darkest {background-color: $primary-darkest;}
// .bg-primary-light {background-color: $primary-light;}
.bg-orange-dark {background-color: $orange-dark;}
// .bg-silver-lightest {background-color: $bg-silver-lightest;}

.text-body {color: $text-body!important;}
.text-orange {color:$orange;}
.text-red {color:$red;}
.text-gray {color:$gray;}
// .text-body-darker {color:$text-body-darker!important;}
// .text-body-light {color:$text-body-light!important;}

.text-danger {color: $red!important;};
.text-primary {color: $primary!important;};
.text-primary-darkest {color: $primary-darkest};
.text-primary-light {color: $primary-light};

.border-primary {border-color: $primary!important;}
.border-primary-lighter {border-color: $blue-lighter;}



