//text color
.text-primary {
  color: $primary !important;
}
.text-primary-dark {
  color: $primary-dark !important;
    td,th{
    color: $primary-dark !important;
      .form-control{
        border-color: $primary-dark !important;
      }
    }
}
.text-primary-darkest {
  color: $primary-darkest !important;
    td,th{
    color: $primary-darkest !important;
      .form-control{
        border-color: $primary-darkest !important;
      }
    }
}
.text-primary-lightest {
  color: $primary-lightest !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-success {
  color: $green !important;
}

.text-info {
  color: #0dcaf0 !important;
}

.text-warning {
  color: $orange !important;
}
.text-warning-dark {
  color: $orange-dark !important;
}
.text-warning-darkest {
  color: $orange-darkest !important;
}
.text-danger {
  color: $red !important;
  td,td{
  color: $red !important;
  }
}

.text-light {
  color: #f8f9fa !important;
}

.text-dark {
  color: #000 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000 !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-reset {
  color: inherit !important;
}
.text-blue{
  color: blue;
}
//backgrow color
.bg-primary {
  background-color: #0d6efd !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-success {
  background-color: #198754 !important;
}

.bg-info {
  background-color: #0dcaf0 !important;
}

.bg-warning {
  background-color: $orange !important;
}
.bg-warning-dark {
  background-color: $orange-dark !important;
}
.bg-warning-darkest {
  background-color: $orange-darkest !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-yellow {
  background-color: yellow !important;
}

.bg-green {
  background-color: green !important;
}

.bg-body {
  background-color: #ffffff !important;
}

.bg-transparent {
  background-color: transparent !important;
}
.BMGCN-section, .BMGDN-section{
    color: $black;
}
