.justify-content-center{
    justify-content:center !important
}
.justify-content-between{
    justify-content:space-between!important
}
.justify-content-around{
    justify-content:space-around !important
}
.justify-content-evenly{
    justify-content:space-evenly !important
}
.align-items-center{
    align-items: center !important
}
.flex-1{
    flex:1 !important;
}