//margin
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}
.mt-8 {
  margin-top: $value_8 !important;
}
.mt-10 {
  margin-top: $value_10 !important;
}
.mt-15 {
  margin-top: $value_15 !important;
}
.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}
.ml-10 {
  margin-left: $value_10 !important;
}
.ml-auto {
  margin-left: auto !important;
}

//padding
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}
.pl-20 {
  padding-left: 20rem !important;
}
// //Margin top
// .mt-lg {
//   margin-top: $size-lg;
// }

// // Margin right
// .me-3xl {
//   margin-right: $spacing-3xl;
// }
// .me-xxl {
//   margin-right: $spacing-xxl;
// }
// .me-xl {
//   margin-right: $spacing-xl;
// }
// .me-lg {
//   margin-right: $spacing-lg;
// }
// .me-md {
//   margin-right: $spacing-md;
// }
// .me {
//   margin-right: $spacing;
// }
// .me-sm {
//   margin-right: $spacing-sm;
// }
// .me-xs {
//   margin-right: $spacing-xs;
// }

// .me-6 {
//   margin-right: $value_6;
// }
// .me-7 {
//   margin-right: $value_7;
// }
// .me-8 {
//   margin-right: $value_8;
// }
// .me-9 {
//   margin-right: $value_9;
// }
// .me-10 {
//   margin-right: $value_10;
// }
// .me-11 {
//   margin-right: $value_11;
// }
// .me-12 {
//   margin-right: $value_12;
// }
// .me-13 {
//   margin-right: $value_13;
// }

// // Margin bottom
// .mb-3xl {
//   margin-bottom: $spacing-3xl;
// }
// .mb-xxl {
//   margin-bottom: $spacing-xxl;
// }
// .mb-xl {
//   margin-bottom: $spacing-xl;
// }
// .mb-lg {
//   margin-bottom: $spacing-lg;
// }
// .mb-md {
//   margin-bottom: $spacing-md;
// }
// .mb {
//   margin-bottom: $spacing;
// }
// .mb-sm {
//   margin-bottom: $spacing-sm;
// }
// .mb-xs {
//   margin-bottom: $spacing-xs;
// }

// .mb-6 {
//   margin-bottom: $value_6;
// }
// .mb-7 {
//   margin-bottom: $value_7;
// }
// .mb-8 {
//   margin-bottom: $value_8;
// }
// .mb-9 {
//   margin-bottom: $value_9;
// }
// .mb-10 {
//   margin-bottom: $value_10;
// }
// .mb-11 {
//   margin-bottom: $value_11;
// }
// .mb-12 {
//   margin-bottom: $value_12;
// }
// .mb-13 {
//   margin-bottom: $value_13;
// }

// // Margin left
// .ms-3xl {
//   margin-left: $spacing-3xl;
// }
// .ms-xxl {
//   margin-left: $spacing-xxl;
// }
// .ms-xl {
//   margin-left: $spacing-xl;
// }
// .ms-lg {
//   margin-left: $spacing-lg;
// }
// .ms-md {
//   margin-left: $spacing-md;
// }
// .ms {
//   margin-left: $spacing;
// }
// .ms-sm {
//   margin-left: $spacing-sm;
// }
// .ms-xs {
//   margin-left: $spacing-xs;
// }

// .ms-6 {
//   margin-left: $value_6;
// }
// .ms-7 {
//   margin-left: $value_7;
// }
// .ms-8 {
//   margin-left: $value_8;
// }
// .ms-9 {
//   margin-left: $value_9;
// }
.ml-10 {
  margin-left: $value_10;
}
// .ms-11 {
//   margin-left: $value_11;
// }
// .ms-12 {
//   margin-left: $value_12;
// }
// .ms-13 {
//   margin-left: $value_13;
// }
.ml-15 {
  margin-left: $value_15;
}
// // Margin right left
// .mx-3xl {
//   margin-right: $spacing-3xl;
//   margin-left: $spacing-3xl;
// }
// .mx-xxl {
//   margin-right: $spacing-xxl;
//   margin-left: $spacing-xxl;
// }
// .mx-xl {
//   margin-right: $spacing-xl;
//   margin-left: $spacing-xl;
// }
// .mx-lg {
//   margin-right: $spacing-lg;
//   margin-left: $spacing-lg;
// }
// .mx-md {
//   margin-right: $spacing-md;
//   margin-left: $spacing-md;
// }
// .mx {
//   margin-right: $spacing;
//   margin-left: $spacing;
// }
// .mx-sm {
//   margin-right: $spacing-sm;
//   margin-left: $spacing-sm;
// }
// .mx-xs {
//   margin-right: $spacing-xs;
//   margin-left: $spacing-xs;
// }

// .mx-6 {
//   margin-right: $value_6;
//   margin-left: $value_6;
// }
// .mx-8 {
//   margin-right: $value_7;
//   margin-left: $value_7;
// }
// .mx-8 {
//   margin-right: $value_8;
//   margin-left: $value_8;
// }
// .mx-9 {
//   margin-right: $value_9;
//   margin-left: $value_9;
// }
// .mx-10 {
//   margin-right: $value_10;
//   margin-left: $value_10;
// }
// .mx-11 {
//   margin-right: $value_11;
//   margin-left: $value_11;
// }
// .mx-12 {
//   margin-right: $value_12;
//   margin-left: $value_12;
// }
// .mx-13 {
//   margin-right: $value_13;
//   margin-left: $value_13;
// }
// .mx-14 {
//   margin-right: $value_14;
//   margin-left: $value_14;
// }
// .mx-15 {
//   margin-right: $value_15;
//   margin-left: $value_15;
// }
// .mx-16 {
//   margin-right: $value_16;
//   margin-left: $value_16;
// }
// .mx-17 {
//   margin-right: $value_17;
//   margin-left: $value_15;
// }
// .mx-18 {
//   margin-right: $value_18;
//   margin-left: $value_18;
// }
// .mx-19 {
//   margin-right: $value_19;
//   margin-left: $value_19;
// }
// .mx-20 {
//   margin-right: $value_20;
//   margin-left: $value_20;
// }

// // Padding
// .p-3xl {
//   padding: $spacing-3xl;
// }
// .p-xxl {
//   padding: $spacing-xxl;
// }
// .p-xl {
//   padding: $spacing-xl;
// }
// .p-lg {
//   padding: $spacing-lg;
// }
// .p-md {
//   padding: $spacing-md;
// }
// .p-spacing {
//   padding: $spacing;
// }
// .p-sm {
//   padding: $spacing-sm;
// }
// .p-xs {
//   padding: $spacing-xs;
// }

// .p-9 {
//   padding: $value_9;
// }

// // Padding top
// .pt-3xl {
//   padding-top: $spacing-3xl;
// }
// .pt-xxl {
//   padding-top: $spacing-xxl;
// }
// .pt-xl {
//   padding-top: $spacing-xl;
// }
// .pt-lg {
//   padding-top: $spacing-lg;
// }
// .pt-md {
//   padding-top: $spacing-md;
// }
// .pt {
//   padding-top: $spacing;
// }
// .pt-sm {
//   padding-top: $spacing-sm;
// }
// .pt-xs {
//   padding-top: $spacing-xs;
// }

// .pt-6 {
//   padding-top: $value_6;
// }
// .pt-7 {
//   padding-top: $value_7;
// }
.pt-8 {
  padding-top: $value_8;
}
// .pt-9 {
//   padding-top: $value_9;
// }
.pt-10 {
  padding-top: $value_10;
}
.pt-15 {
  padding-top: $value_15;
}
.pt-18 {
  padding-top: $value_18;
}
.pt-20 {
  padding-top: $value_20;
}
.pt-25 {
  padding-top: $value_25;
}
.pt-30 {
  padding-top: $value_30;
}
.pt-40 {
  padding-top: $value_40;
}
// .pt-11 {
//   padding-top: $value_11;
// }

// // Padding right
// .pe-3xl {
//   padding-right: $spacing-3xl;
// }
// .pe-xxl {
//   padding-right: $spacing-xxl;
// }
// .pe-xl {
//   padding-right: $spacing-xl;
// }
// .pe-lg {
//   padding-right: $spacing-lg;
// }
// .pe-md {
//   padding-right: $spacing-md;
// }
// .pe {
//   padding-right: $spacing;
// }
// .pe-sm {
//   padding-right: $spacing-sm;
// }
// .pe-xs {
//   padding-right: $spacing-xs;
// }

// .pe-6 {
//   padding-right: $value_6;
// }
// .pe-7 {
//   padding-right: $value_7;
// }
// .pe-8 {
//   padding-right: $value_8;
// }
// .pe-9 {
//   padding-right: $value_9;
// }
.pr-10 {
  padding-right: $value_10;
}
// .pe-11 {
//   padding-right: $value_11;
// }
// .pe-12 {
//   padding-right: $value_12;
// }
// .pe-13 {
//   padding-right: $value_13;
// }
// .pe-14 {
//   padding-right: $value_14;
// }
.pr-15 {
  padding-right: $value_15;
}
// .pe-16 {
//   padding-right: $value_16;
// }
// .pe-17 {
//   padding-right: $value_17;
// }
// .pe-18 {
//   padding-right: $value_18;
// }
// .pe-19 {
//   padding-right: $value_19;
// }
// .pe-20 {
//   padding-right: $value_20;
// }

// // Padding bottom
// .pb-3xl {
//   padding-bottom: $spacing-3xl;
// }
// .pb-xxl {
//   padding-bottom: $spacing-xxl;
// }
// .pb-xl {
//   padding-bottom: $spacing-xl;
// }
// .pb-lg {
//   padding-bottom: $spacing-lg;
// }
// .pb-md {
//   padding-bottom: $spacing-md;
// }
// .pb {
//   padding-bottom: $spacing;
// }
// .pb-sm {
//   padding-bottom: $spacing-sm;
// }
// .pb-xs {
//   padding-bottom: $spacing-xs;
// }

.pb-10 {
  padding-bottom: $value_11;
}
// .pb-11 {
//   padding-bottom: $value_11;
// }
// .pb-12 {
//   padding-bottom: $value_12;
// }
.pb-15 {
  padding-bottom: $value_15;
}
// .pb-19 {
//   padding-bottom: $value_19;
// }

// // Padding left
// .ps-3xl {
//   padding-left: $spacing-3xl;
// }
// .ps-xxl {
//   padding-left: $spacing-xxl;
// }
// .ps-xl {
//   padding-left: $spacing-xl;
// }
// .ps-lg {
//   padding-left: $spacing-lg;
// }
// .ps-md {
//   padding-left: $spacing-md;
// }
// .ps {
//   padding-left: $spacing;
// }
// .ps-sm {
//   padding-left: $spacing-sm;
// }
// .ps-xs {
//   padding-left: $spacing-xs;
// }

// .ps-6 {
//   padding-left: $value_6;
// }
// .ps-11 {
//   padding-left: $value_11;
// }

// // Padding top bottom
// .py-3xl {
//   padding-top: $spacing-3xl;
//   padding-bottom: $spacing-3xl;
// }
// .py-xxl {
//   padding-top: $spacing-xxl;
//   padding-bottom: $spacing-xxl;
// }
// .py-xl {
//   padding-left: $spacing-xl;
//   padding-bottom: $spacing-xl;
// }
// .py-lg {
//   padding-left: $spacing-lg;
//   padding-bottom: $spacing-lg;
// }
// .py-md {
//   padding-left: $spacing-md;
//   padding-bottom: $spacing-md;
// }
// .py {
//   padding-left: $spacing;
//   padding-bottom: $spacing;
// }
// .py-sm {
//   padding-left: $spacing-sm;
//   padding-bottom: $spacing-sm;
// }
// .py-xs {
//   padding-left: $spacing-xs;
//   padding-bottom: $spacing-xs;
// }

// .py-6 {
//   padding-top: $value_6;
//   padding-bottom: $value_6;
// }
// .py-7 {
//   padding-top: $value_7;
//   padding-bottom: $value_7;
// }
// .py-8 {
//   padding-top: $value_8;
//   padding-bottom: $value_8;
// }
// .py-9 {
//   padding-top: $value_9;
//   padding-bottom: $value_9;
// }
// .py-10 {
//   padding-top: $value_10;
//   padding-bottom: $value_10;
// }

// // Padding right left
// .px-3xl {
//   padding-right: $spacing-3xl;
//   padding-left: $spacing-3xl;
// }
// .px-xxl {
//   padding-right: $spacing-xxl;
//   padding-left: $spacing-xxl;
// }
// .px-xl {
//   padding-right: $spacing-xl;
//   padding-left: $spacing-xl;
// }
// .px-lg {
//   padding-right: $spacing-lg;
//   padding-left: $spacing-lg;
// }
// .px-md {
//   padding-right: $spacing-md;
//   padding-left: $spacing-md;
// }
// .px {
//   padding-right: $spacing;
//   padding-left: $spacing;
// }
// .px-sm {
//   padding-right: $spacing-sm;
//   padding-left: $spacing-sm;
// }
// .px-xs {
//   padding-right: $spacing-xs;
//   padding-left: $spacing-xs;
// }

.px-6 {
  padding-right: $value_6;
  padding-left: $value_6;
}
.px-7 {
  padding-right: $value_7;
  padding-left: $value_7;
}
.px-8 {
  padding-right: $value_8;
  padding-left: $value_8;
}
// .px-9 {
//   padding-right: $value_9;
//   padding-left: $value_9;
// }
.px-10 {
  padding-right: $value_10;
  padding-left: $value_10;
}
// .px-11 {
//   padding-right: $value_11;
//   padding-left: $value_11;
// }
// .px-12 {
//   padding-right: $value_12;
//   padding-left: $value_12;
// }
// .px-13 {
//   padding-right: $value_13;
//   padding-left: $value_13;
// }
// .px-14 {
//   padding-right: $value_14;
//   padding-left: $value_14;
// }
.px-15 {
  padding-right: $value_15;
  padding-left: $value_15;
}
// .px-16 {
//   padding-right: $value_16;
//   padding-left: $value_16;
// }
// .px-17 {
//   padding-right: $value_17;
//   padding-left: $value_15;
// }
// .px-18 {
//   padding-right: $value_18;
//   padding-left: $value_18;
// }
// .px-19 {
//   padding-right: $value_19;
//   padding-left: $value_19;
// }
.px-20 {
  padding-right: $value_20;
  padding-left: $value_20;
}
